* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.das {
    color: rgb(23, 128, 255);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: rgb(5, 5, 41);
    color: #fff;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:visited {
    color: rgb(23, 128, 255);
}

nav a:hover,
nav a:focus-visible {
    color: grey;
}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px 10%;
    gap: 50px;
}

.hero-text h1 {
    font-size: 3rem;
    margin: 10px 0;
}

.hero-text span {
    color: rgb(23, 128, 255);
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.hero-link {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btech {
    color: rgb(23, 128, 255);
}

.mywork {
    background-color: rgb(23, 128, 255);
    padding: 10px;
}

.mywork a {
    color: #fff;
    text-decoration: none;
}

.mywork a:hover,
.mywork a:focus-visible {
    color: rgb(178, 253, 40);
}

.resume {
    border: rgb(23, 128, 255) solid 2px;
    padding: 10px;
}

.resume a {
    color: rgb(23, 128, 255);
    text-decoration: none;
    text-align: center;
}

.resume a:hover,
.resume a:focus-visible {
    color: rgb(18, 3, 3);
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 50px 10%;
}

.ab-image img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.abh {
    text-align: center;
    padding: 0;
    margin: 0;

}

.abme a {
    border: rgb(23, 128, 255) solid 2px;
    text-align: center;
    padding: 10px;
    color: rgb(23, 128, 255);
    text-decoration: none;
}

.abme a:hover,
.abme a:focus-visible {
    color: black;
}

#skills {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.sk {
    text-align: center;
}